* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Header Styles */
header {
    background-color: #111;
    color: #fff;
}
nav {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px ;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero Section */
#hero {
    max-width: 1100px;
    margin: auto;
    padding: 80px 20px;
}

#hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

/* Section Styles */
section {
    max-width: 1100px;
    margin: auto;
    padding: 60px 20px;
}

section h2 {
    margin-bottom: 10px;
}

/* Footer Styles */
footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}